<%= simple_form_for(@bonzai) do |f| %>

      <div class="form--input-container d-flex justify-content-between">
        <div class="names">
 <%= f.input :name, label: 'Nom' %>
        </div>

        <div class="names">
  <%= f.input :species, label: 'Espèce' %>
        </div>
      </div>

  <%= f.input :address, label: 'Adresse' %>
  <%= f.input :photo, as: :file %>
  <%= f.input :description, label: 'Description' %>
  <%= f.input :price_per_day, label: 'Prix par jour' %>
  <div class="d-flex justify-content-center">
  <%= f.submit "Je valide !", class: "btn btn-dark-green-form" %>
  </div>
<% end %>
