<div class="container">
  <div class="row">
    <div class="col-12 0">
      <h1>Bonzai Zone</h1>
    </div>
    <h2>Adopt a bonzai for a day or more!</h2>
  </div>

  <div class="row">
    <div class="col">
      <% if @query %>
        <p>You searched for <strong><%= @query %></strong>. We found <%= @bonzais.count %> bonzais out of our <%= @bonzais.count %> on our website.</p>
      <% else %>
        <p>All <%= @bonzais.count %> bonzais.</p>
      <% end %>
    </div>
  </div>

  <div class="bonzai-cards-container">
    <% @bonzais.each do |bonzai| %>
      <div class="bonzai-card">
        <div class="bonzai-card-image" style="background-image: url('<%= cl_image_path bonzai.photo.key %>')">
        </div>

        <div class="bonzai-card-content">
          <div class="bonzai-card-title">
            <h3><%= bonzai.name %></h3>
            <h5><%= bonzai.species %></h5>
            <p><%= bonzai.address %></p>
          </div>

          <div class="bonzai-card-book">
            <p><%= bonzai.price_per_day %>€/jour</p>
            <%= link_to "Book!", bonzai_path(bonzai), class: "btn-green" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
