<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>Bonzai Zone</h1>
    </div>
    <h2>Adopt a bonzai for a day or more!</h2>
  </div>

  <div class="row">
    <div class="col">
      <% if @query %>
        <p>You searched for <strong><%= @query %></strong>. We found <%= @bonzais.count %> bonzais out of our <%= @bonzais.count %> on our website.</p>
      <% else %>
        <p>All <%= @bonzais.count %> bonzais.</p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <% @bonzais.each do |bonzai| %>
      <div class="col-md-4">
        <div class="bonzai-card">
          <div class="flex align-items-center ms-3">
            <div class="bonzai-card-image" style="background-image: url('<%= cl_image_path bonzai.photo.key %>')">
            </div>
             <span><%= bonzai.price_per_day %> per day</span>
          </div>

          <div class="bonzai-card-content" class="flex">
            <div class="bonzai-card-title">
              <h4><%= bonzai.name %></h4>
            </div>
            <p><%= bonzai.address %></p>

          <div>
            <%= link_to "Book!", bonzai_path(bonzai), class: "btn btn-green" %>
          

            <div class="flex">
              <div class="flex align-items-center">
                <span><%= bonzai.species %></span>
              </div>
              <div class="flex align-items-center ms-3">
                <i class="fa-solid fa-euro-sign"></i>
                <span><%= bonzai.price_per_day %> per day</span>
              </div>
            </div>
          </div>
          <div class="bonzai-card-actions">
            <%= link_to "More info", bonzai_path(bonzai) %>

          </div>
            <div class="flex">
              <%# <div class="flex align-items-center"> %>
                <%# <span><%= bonzai.species</span> %>
              <%# </div> %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
