<div class="card-container justify-content">
  <div class="">
    <div class="container pt-2">
      <h1><%= @bonzai.name %></h1>
    </div>
  </div>
</div>

<div class="container card-container justify-content">
  <div class="main-container-show">
    <div class="">
      <%= cl_image_tag @bonzai.photo.key, crop: :fill, class: "bonzai-photo" %>
    </div>

    <div class='details-and-form-show'>
      <div class="details">
        <h3>Détails</h3>
        <h5>Adresse : <%= @bonzai.address %></h5>
        <h5>Espèce : <%= @bonzai.species %></h5>
        <h5><%= @bonzai.description %></h5>
        <br>
      </div>

      <div class="" data-controller="dynamic-booking-price"
        data-dynamic-booking-price-price-value="<%= @bonzai.price_per_day %>">
        <h3>Louez ce bonzai pour <%= @bonzai.price_per_day %> €/jour !</h3>
        <br>
        <%= simple_form_for [@bonzai, @booking], data: { controller: 'datepicker'} do |f| %>
          <%= f.input :start_date, as: :string,
                      label: 'Depuis le',
                    input_html: {
                      class: 'input-date',
                      data: {
                        datepicker_target: 'startDateInput',
                        dynamic_booking_price_target: 'startDateInput',
                        action: 'change->dynamic-booking-price#updatePrice'
                      }
                    },
                    label_html: { class: 'label-date' },
                    wrapper_html: { class: 'container-date' } %>
          <%= f.input :end_date, as: :string,
                      label: "Jusqu'au",
                    input_html: {
                      class: 'input-date',
                      id: 'end_time',
                      data: {
                        datepicker_target: 'endDateInput',
                        dynamic_booking_price_target: 'endDateInput',
                        action: 'change->dynamic-booking-price#updatePrice'
                      }
                    },
                    label_html: { class: 'label-date' },
                    wrapper_html: { class: 'container-date' } %>
          <div class="rent-div">
            <h4 class='mb-0'>Total : <span data-dynamic-booking-price-target="priceHolder"> __</span> €</h4>
            <%= f.submit 'Réserver', class: 'btn-green btn-submit-book' %>
            <%= f.input :total_price,
              input_html: { data: { dynamic_booking_price_target: 'totalPrice'}},
              wrapper_html: { class: 'd-none' } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
