<div class="container">
<h1 class="text-center my-5">Mon espace <i class="fa-sharp fa-solid fa-seedling"></i></h1>

<div class="card-container d-flex justify-content-center">

  <div class="card-dashboard">
    <h2 class="m-2">Mes informations</h2>
    <div class="inner-card-dashboard">
      <div class="img-dashboard">
        <%= cl_image_tag current_user.photo.key, :class => "rounded-circle" %>
      </div>
      <div class="card-dashboard-infos">
        <h3><%= current_user.first_name %> <%= current_user.last_name %></h3>
        <p class="mb-10"><%= current_user.email%> </p>
        <br>
        <%= link_to "Modifier mes infos", edit_user_registration_path, class: "btn-pink" %>
      </div>
    </div>
  </div>


</div>


<div class="card-container d-flex justify-content-center">
  <div class="card-dashboard">
    <h2 class="m-2">Mes bonzais proposés en location</h2>
     <% @user_bonzais.each do |bonzai| %>
       <div class="inner-card-dashboard">
         <div class="img-dashboard">
           <%= cl_image_tag bonzai.photo.key, :class => "rounded-circle" %>
        </div>
         <div class="card-dashboard-infos">
          <h3><%= bonzai.name %></h3>
           <p><%= bonzai.species %></p>
             <%= link_to "Modifier", edit_bonzai_path(bonzai), class: "btn-orange" %>
             <%= link_to "Supprimer", bonzai_path(bonzai),
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
              class: "btn-red" %></p>
         </div>
        </div>
        <% end %>
         <%= link_to "+", new_bonzai_path, class: "btn-circle-pink" %>

  </div>

  <div class="card-dashboard">
    <h2 class="m-2">Les réservations de mes bonzais</h2>
    <%= turbo_frame_tag 'validate_date' do %>
      <% @requests.each do |r| %>
        <div class="inner-card-dashboard">
          <div class="img-dashboard">
            <%= cl_image_tag r.bonzai.photo.key, :class => "rounded-circle" %>
          </div>
          <div class="card-dashboard-infos">
            <h3><%= r.bonzai.name %></h3>
            <p> <strong> <%= r.status %></strong> - Du <%= r.start_date %> au <%= r.end_date %></p>
            <%= link_to "Accepter", booking_accept_path(r), class: "btn-green-dashboard", data: { turbo_method: 'PATCH'} %>
            <%= link_to "Refuser", booking_decline_path(r), class: "btn-red", data: { turbo_method: 'PATCH'} %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

 <div class="card-dashboard">
    <h2 class="m-2">Ils arrivent bientôt chez moi</h2>
    <% @user_bookings.each do |booking| %>
      <div class="inner-card-dashboard">
        <div class="img-dashboard">
          <%= cl_image_tag booking.bonzai.photo.key, :class => "rounded-circle" %>
        </div>
        <div class="card-dashboard-infos">
          <h3><%= booking.bonzai.name %></h3>
            <p>Statut: <%= booking.status %> - Réservation du <%= booking.start_date %> au <%= booking.end_date %></p>
        </div>
      </div>
    <% end %>
  </div>

</div>
</div>
